* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  overflow: hidden;
  background: #000011;
}

#globe-container {
  width: 100vw;
  height: 100vh;
}

#search-container {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1000;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}

#search-input {
  width: 200px;
  padding: 5px;
  /* background-color: transparent;
  margin-right: 5px;
  border: white 1px solid;
  height: 30px;
  color: white; */
  min-width: 300px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

#search-button {
  width: 100px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  height: 45px;
  border-radius: 5px;
  color: white;
}