* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
}

#globe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; 
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
#search-container {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1000; 
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 10px; 
}
input:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.search-input {
  width: 300px;
  padding: 15px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  color: #fff;
  font-size: 14px;
  border: none;
}


#search-button {
  width: 100%;
  height: 45px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#search-button:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#message {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  text-align: center;
}

/* Responsive Design */

/* For tablets */
@media (max-width: 768px) {
  #search-container {
    top: 5%;
    left: 5%;
    gap: 8px;
  }

  .search-input {
    width: 100%;
    font-size: 13px;
    height: 35px;
  }

  #search-button {
    height: 40px;
    font-size: 12px;
  }
}
/* Flight List Styling */
#result-container{
  width: 100%;
  height: auto;
}
#flights {
  list-style-type: none;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#flights li {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: white;
}

#flights li div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#flights li strong {
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

#flights li p {
  font-size: 14px;
  margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #flights {
      gap: 8px;
  }
  
  #flights li {
      padding: 12px;
  }
  
  #flights li p {
      font-size: 13px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  #search-container {
    top: 5%;
    left: 5%;
    width: 90vw;
    gap: 8px;
  }

  .search-input {
    width: 100%;
    font-size: 12px;
    height: 35px;
  }

  #search-button {
    height: 40px;
    font-size: 12px;
  }
}
